body{
    text-align: center;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* .btns{
    display: flex;
    flex-direction: column;
} */

button{
    color: whitesmoke;
    /* background-color: darkred; */
    border-radius: 10px;
    font-size: 1em;
    padding: .5em;
    font-weight: bold;
}

#increment-btn{
    background-color: darkred;
}

#save-btn{
    background-color:darkgreen;
}

#decrease-btn{
    background: darkorange;
}

p{
    background-color: black;
    color: whitesmoke;
    font-size: 1.5em;
    width: 50%;
    padding: 1em;
    margin: auto
}